.title{
    text-align: center;
    color: black;
    margin-top: 100px;
   
}



.container-card{
    display: flex;
    justify-content: space-between;
    margin: auto;

}

.container-card .card{
    width: 280px;
    height: 420px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    justify-content: space-between;


}

.container-card .card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}
.container-card .card img{
  width: 320px;
  height: 180px;

}

.container-card .card h4{
    font-weight: 200;

}

div .card span{
    text-align: center;
    color: var(--negro);
}

.price.group{

    text-align: center;
}

/* Estrellas*/
#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;/* para asignar los valores 1- 5 pero que no aparezcan en pantalla y botones de radio*/
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;/*rtl es de derecha a izquierda*/
    unicode-bidi: bidi-override;/*bidi de bidireccional*/
  }
  
  label:hover,
  label:hover ~ label {
    color: var(--primario-claro);/*cuando pasas por encima de las etiquetas label(estrellas ) estas cambian de color*/
  }
  
  input[type="radio"]:checked ~ label {
    color: var(--primario-claro); /*Al marcar el botón de radio ( radio:checked ) 
    todas las etiquetas <label> que le preceden ( ~ ) se vuelven color verde*/
  }