
 /*variables*/
:root{
    /*colores*/
    --primario:rgb(126, 153, 28);
    --primario-claro:rgb(136, 180, 121);
    --primario-oscuro:rgb(43, 68, 25);
    --negro:black;
    --blanco: white;
    --gris:#cacaca;
    /*tamaño de texto*/
    --texto-base: 16px;
    --h1: 3.052rem;
    --h2: 2.441rem;
    /*espacios*/
    --s:8px;
    --m:16px;
    --l:24px;
}

body {
    font-family:'roboto', sans-serif;
    margin: 0;
    padding: 0;
  
}

h1{
    margin-top: 0px;
    font-family:'Dancing Script', cursiva;
    font-size: var(--h1);
    font-weight: 400;
}

h2{
    margin-top: 0px;
    font-family:'Indie Flower', cursiva ;
    font-size: var(--h2);
    font-weight: 400;
    color:var(--negro);
}
p{
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    margin-top: 0px;
}
 
a{
    color: black;
    text-decoration: none;
}

a:hover {

    color: var(--gris);
}/*Si la pseudo-clase :hover se aplica al enlace, 
la propiedad padding se debería aplicar al enlace para que el cambio de color se aplique a toda la opción del menú.*/

.container{

    margin: 0 auto;
    max-width: 992px;
}
    
.titulo-malospelos {

    margin: 0px;
    font-size:var(--h1);
    color:rgb(126, 153, 28);
    font-family:'Dancing Script', cursiva;

}

.logo {

    max-width: 800px;

}

.container_header-inner {

    background-color: rgba(126, 153, 28, 0.349) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
   
}

.header-inner {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu{
    list-style:none;
    padding: 0;
    margin: 0;
}

.menu li{
    display: inline-block;
}
  
.menu li a{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    
}
  
.menu.flex{
    display:flex;
    justify-content: space-between;
}

.buscador{

    border:none; /*anchura, estilo y color borde*/
    padding: var(--s) var(--m); /*espacio alrededor texto*/
    background-color: #5dad1250; /*color botón*/
    color: #ffffff; /*color texto*/
    text-align: center;/*alineacion del texto*/
    text-transform: uppercase; /*especifica el cambio entre mayusculas y minusculas del texto de un elemento*/
    font-family:'roboto', sans-serif; /*tipografía texto*/
    border-radius: 8px; /*bordes redondos*/
    margin-top: 30px;
    outline: none;

}

.button {
    
    border: 1 px solid white; 
    background-color: var(--primario);
    padding:var(--s) var(--s);
    text-align: center;
    text-decoration: none; 
    text-transform: uppercase; 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;/*aparece la mano para indicar que se puede clicar ahí*/
    border-radius: 8px; 
    margin: 16px;
    margin-top: 30px;
    outline: none;
    transition: all 300ms;

}

button:hover{
    background: #fff;
    color: #cdebb1;
}

.numerocarro{

    display:inline-block;
    border: none;
    padding: var(--s);
    background-color: #cdebb1;
    text-align: center;
    border-radius: 100%;
    position:relative;
    color: rgb(25, 53, 8);
    top: -24px;

} 

.wrap{ /*envoltorio principal donde va a ir la imagen de fondo*/

    width: 100vw; /*para que ocupe todo el ancho de la pantalla*/
    height: 75vh; /*altura*/
    display: flex;
    align-items: center; /*para que quede centrado*/
    justify-content: center;
    background: linear-gradient(to left, rgba(218, 219, 217, 0.5), rgba(218, 219, 217, 0.5)) /*esta propiedad se puede poner delante o detras y sirve para el degradado de la imagen*/     
    ,url(../imagen/fondo-productos-natural.webp) ; /*Aqui ponemos la imagen de fondo con la propiedad background*/
    background-size: cover; /*personalizar el fondo (la imagen)*/
    background-position: center;/* lo centramos, para que siempre quede centrado*/

}

.wrap-texto{ /*envoltoriio del texto*/

    color: var(--negro);
    text-align: center;
    width: 50%;

} 

input{

    border-style:groove;
    border-color: var(--primario-claro);
}
   
div,input{
    
    box-sizing: border-box;

}

.formulario {

    display: flex;
    justify-content: space-around;
    padding: 48px 0px;
    gap: 40px;

}

.iniciarsesion{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.iniciarsesion h2{
    color: var(--primario);
}

.registrarse{

    width: 100%;
    padding: var(--l);
    border: 1px solid var(--primario-claro);
    border-radius: var(--l);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 8px 16px -12px;

}
.registrarse h2{
    color:var(--primario)
}

.input-button input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    font-size: 16px;
    display: flex;
    background: #f2f2f2;
    margin-bottom: 16px;
    outline: none;/*quita el borde negro al marcar sobre el*/
    border-radius: 8px;

}

.input-button button{
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background-color: var(--primario);
}

.iconos{

    padding: var(--s);
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 12px;
    gap: 0x;
    

}

.container-footer{

    display: flex;
    align-items:flex-start;
    background-color: var(--primario-oscuro);

}

.footer-logo{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.footer1{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.footer1condiciones{

    width: 100%;
    padding: var(--l);
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    gap: 24px;

}


.footer2{

    width: 100%;
    padding: var(--l);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.footer-formulario input, button{
 
    border: none;
    background: #f2f2f2;
    outline: none;/*quita el borde negro al marcar sobre el*/
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;

}

.redes{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

}





