/* No toques este CSS ni intentes comprenderlo */

*{
  font-family: 'Outfit', sans-serif;
}

.card{
  display: flex;
  flex-direction: column;
  padding: 0px;

  width: 384px;
  height: 481px;

  /* Interface/Light */

  background: #FBFDFE;
  box-shadow: 0px 16px 16px -16px rgba(79, 91, 97, 0.15);
  border-radius: 24px;
  overflow: hidden;
}

.card-placeholder{
  background: #EDF4F7;
  height: 240px;
  width: 100%;
}

.card-content{
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}

.card-title-grp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  gap: 8px;
  width: 100%;
}

.card-title-grp .price-grp{
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 8px;
}

.card-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  gap: 8px;
}

/* ---- */

.button{
  display: flex;
  padding: 16px 24px;
  gap: 8px;

  background: #EDF4F7;
  border-radius: 16px;
  color: black;
  text-decoration: none;
}

.button.cart{
  display: inline-block;
}

.cart .item-count{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: #00A6FB;
  border-radius: 50px;
  color: white;
}

/* ---- */

footer{
  background: #051923;
  padding: 24px 0;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}