aside section div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    margin: 20px 0;
    transition:  3s;
}
aside section h1{
    transition: 3s;
    display: inline;
}

main div.container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}

aside section:hover div {
    margin-left: 200px;
} 



.bodyContainer{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.containerMain{
    justify-content: end;
}

.containerProducts{
    display:flex;
    padding:10%;
   background-color: aliceblue;
  }
  .productoDestacado{
    width: 10%;
    height: 10%;
  }

  










  